<!DOCTYPE html>
<html>
<head>
	<title>weatherApp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="http://localhost:3000/css/index.css">
	<script type="text/javascript" href="http://localhost:3000/js/app.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Bungee');

		body {
			background: #c8cec6;
			font-family: 'Bungee', sans-serif;
		}



		#form {
			background: #90a99b;
		}

		#navvy {

			display: inline;
			text-align: center;
		}

		#weather {
			background: #666a68;
			color: white;
			text-align: center;
			float: left;
		}

		#form {
			float: right;
			text-align: center;
		}	

		h1 {
			background: #989e9a;
			color: black;
		}

		#comment, #name {
			margin: 5px;
			padding: 5px;
		}

		#comments {
			float: right;
		}
	</style>
</head>
<body>
<header>
	<nav id="navvy" class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Home</a>
	    </div>
	    <h1>Weather App Social</h1>
	  </div>
	</nav>
</header>
