@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
	background: #c8cec6;
	font-family: 'Bungee', sans-serif;
}

.masthead {
	display: table;
  width: 100%;
  height: 775px;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url('../img/intro-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
	height: 300px;
	width: 400px;
	margin-top: -125px;
	margin-bottom: 25px;
	border-radius: 10px;
	transform: brightness(1.5);
}

#title {
	color: white;
}

hr.light {
	height: 12px;
  border: 0;
  border-top: 1px solid white;
  box-shadow: inset 0 12px 12px -12px white;
}

hr.dark {
	height: 12px;
  border: 0;
  border-top: 1px solid black;
  box-shadow: inset 0 12px 12px -12px black;
}

.daily-intro {
	display: table;
  width: 100%;
  height: 300px;
  padding: 50px;
  text-align: center;
  background: white;
}

.daily {
	display: table;
  width: 100%;
  height: 400px;
  padding: 100px;
  text-align: center;
  background: url('../img/skyline1.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#form {
	background: #f9c9c9;
}

#navvy {

	display: inline;
	text-align: center;
}

#weather {
	background: #f9c9c9;
	color: black;
	text-align: center;
}

#weather-grid {
	padding: 20px;
	margin: 50px;
}

#form {
	float: right;
	text-align: center;
}	

h1 {
	color: black;
}

#comment, #name {
	margin: 5px;
	padding: 5px;
}

#comment-item {
	margin: 25px;
}

#comments {
	margin: 15px;
}

#weth-1, #weth-2, #weth-3, #weth-4 {
	font-family: sans-serif;
	font-size: 30px;
	background: #d4f7f7;
	list-style-type: none;
}

h6 {
	font-size: 40px;
}

.comment-list {
	color: white;
	font-family: 'Bungee';
	background: #666a68;
	font-size: 20px;
	list-style-type: none;
	border: solid white 1px;
	margin: 7px;
	padding: 5px;
	text-align: center;
}

.weekly-intro {
	display: table;
  width: 100%;
  height: 300px;
  padding: 50px;
  text-align: center;
  background: black;
}

.weekly {
	display: table;
  width: 100%;
  height: 775px;
  padding: 100px;
  text-align: center;
  background: url('../img/skyline2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#weekly-weather {
	background: #d4f7f7;
	color: black;
	text-align: center;
}

.weekly-title {
	color: white;
}


footer {
	height: 100px;
	text-align: center;
}